@font-face {
  font-family: Schoolbell;
  src:url(fonts/Schoolbell-Regular.ttf)
}

* {
    margin-inline: 0;
    box-sizing: border-box;
    font-family: Schoolbell;
}


body {
    background: url(background.png);   
    background-repeat: no-repeat;
    font-family: Schoolbell;
    background-size: cover;
    background-position: fixed;
    padding-top:25px;
    border-radius:15px 15px 0px 0px;
    min-height: 100vh;
    min-width: 100vw;
    margin-inline: 32px;
    margin-block: 64px;
}

main {
    max-width: 90vw;
    min-width: 80vw;
    max-height: calc(100vh-28px);
    margin:auto;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    border: solid 3px black;
    width: 60vw;
}


section {
    max-width: 60vw;
    min-width: 50vw;
    padding: 32px;
    display: grid;
    margin:auto;

}

nav {
    text-align: center;

}

.menu {
    background-color:#feda70;
    /*border: 2px solid #ffeb3b; /* yellow border */
    padding: 0.5rem;
    display: inline-block;
    border-radius: 12px;
    border: solid 3px black;
    color: #8d5b1a;
    font-size: 20px;
    text-decoration: none;
}

h1 {
font-size: 28px;
font-weight: 400;
}

h2 {
font-size: 56px;
font-weight: 400;
}

p {
font-size: 24px;
max-width: 60ch;
font-weight: 400;
}



article img {
  width:100%;
  object-fit: cover;
}

table {
    max-width: 90vw;
    border: solid 3px black;
    border-collapse:collapse;
    margin:auto;
    margin-top:30px;
}

th {
    
    background-color:#8d5b1a;
    color:#feda70;
}

td {
    border: solid 3px black;
}


tr:nth-child(even){

    background-color:#8d5b1a;
    color:#feda70;
}

tr:nth-child(odd){
    background-color:#feda70;
    color:#000000;

}

article {
    max-width: 1080px;
    margin: auto;
}

.artgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "b b j";
    gap: 1rem;
}

.bal {
    grid-area: b;

}

.jobb {
    grid-area: j;  
}

.kep{
    max-width: fit-content;
}

footer {
    background-color:#8d5b1a;
    /*border: 2px solid #ffeb3b; /* yellow border */
    padding: 0.5rem;
    display: inline-block;
    border-radius: 12px;
    border: solid 3px black;
    color: #feda70;
    margin: auto;
    width: 100%
    margin-bottom: 32px;
}
